.price__list {
    margin-top: 90px;
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
}

.price__list__container {
    width: 50%;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 8px;
    overflow: hidden;
    padding: 3rem;
}

.price__list__title {
    color: #252e48;
    font-size: 30px;
    line-height: 24px;
    margin-bottom: 24px;
}

.price__list__table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.price__list th,
.price__list td {
    color: #252e48;
    padding: 8px;
    width: 50%;
}

@media only screen and (max-width: 1024px) {
    .price_list_container {
        padding: 2rem;
    }
}

@media only screen and (max-width: 960px) {
    .price_list_container {
        padding: 1rem;
    }
}
